*.aux
*.bbl
*.blg
*.pdf
Verslag/verslag.pdf
Notities literatuur/notities_literatuur.pdf
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz
*.bcf
*.out
*.dvi
*.json
*.swp
*.toc
*.dbl
*.o
*__pycache__
*pluto
*makefile
*.ipynb_checkpoints
report/.tex
*.png